/* General Styling */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #460a0a;
    color: rgb(230, 211, 211);
    padding: 20px;
    width: 35%;
    text-align: center;
}

.profile-picture {
    width: 250px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid beige;
    margin-bottom: 20px;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 2%;
    margin: 10px 0;
    color: rgb(48, 3, 3);
    margin-top: 2%;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(48, 3, 3);
    border-radius: 10px;
    box-shadow: 0 0 15px #4a0c11;
    margin-top: 5%;
    margin-bottom: 5%;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 2%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 15px #ffffff;
    margin-top: 60px;
    margin-bottom: 30px;
}
ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

section.skills {
    width: 1000%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
    border-radius: 3rem;
}
button {
    font-family: initial;
    border-radius: 0px;
    box-shadow: 0 0 15px rgb(226, 126, 126);
    cursor: pointer;
    margin-top: 0px;
    font-size: 12px;
    display: flex;
    color: #460a0a;
    fill: #4a0c11;
    padding: .2rem;
}

button:hover {
    background-color: #cd6060;
}